[colors]
background = '#{{ base00 }}'
foreground = '#{{ base06 }}'
cursor_bg = '#{{ base06 }}'
cursor_border = '#{{ base06 }}'
cursor_fg = '#{{ base00 }}'

ansi = [
    '#{{ base01 }}',
    '#{{ base0A }}',
    '#{{ base0D }}',
    '#ffe97b',
    '#{{ base0B }}',
    '#{{ base0C }}',
    '#{{ base08 }}',
    '#{{ base04 }}',
]
brights = [
    '#{{ base02 }}',
    '#{{ base0A }}',
    '#{{ base0D }}',
    '#ffe97b',
    '#{{ base0B }}',
    '#{{ base0C }}',
    '#{{ base08 }}',
    '#{{ base06 }}',
]

[colors.tab_bar]
background = "#{{ base01 }}"

[colors.tab_bar.active_tab]
bg_color = '#{{ base00 }}'
fg_color = '#{{ base06 }}'
intensity = 'Normal'
italic = false
strikethrough = false
underline = 'None'

[colors.tab_bar.inactive_tab]
bg_color = '#{{ base01 }}'
fg_color = '#{{ base06 }}'
intensity = 'Normal'
italic = false
strikethrough = false
underline = 'None'

[colors.tab_bar.new_tab]
bg_color = '#{{ base01 }}'
fg_color = '#{{ base06 }}'
intensity = 'Normal'
italic = false
strikethrough = false
underline = 'None'


[metadata]
name = 'Oxocarbon Dark'
origin_url = 'https://github.com/nyoom-engineering/oxocarbon'
